body {
    background-image: url(sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid {
    display: grid;
}

.profile {
    height: 80vh;
    width: 25vw;
    background-color: aliceblue;
    border-radius: 20px;
    grid-template-rows: 160px 1.5fr 1fr 1fr;
}

h2 {
    margin: 0;
}

.parent {
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    background-image: url(pebble.jpg);
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.center1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center2 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
}

.center3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
}

.middle {
    display: flex;
    position: absolute;
    top: 25%;
    height: 100px;
    width: 100px;
    margin-left: 130px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.middle img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(90%);
}

.bottom button {
    background-color: rgb(56, 27, 223);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 175px;
    border-color: rgb(56, 27, 223);
    margin-left: 25%;
    margin-bottom: 50px;
}

.card {
    margin-top: 60px;
}